body {
    padding: 0;
    margin: 0;
}


.firstSection {
    background-image: url(./images/backgroundImage.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 750px;
}


.mainContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 70px;
    width: 1480px;
    margin-left: auto;
    margin-right: auto;
}

.Logo {
    width: 238px;
    height: 28px;
}

.menu {
    display: flex;
}

.menu-item {
    margin-left: 110px;
    list-style: none;

}

.menu-item-link {
    font-size: 20px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF;
    text-decoration: none;
}

.lang-switch {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #F8F9FA;
    font-size: 16px;
    font-weight: 600;
    background-color: #FFFFFF3B;
    width: 121px;
    height: 34px;
    border: none;
    border-radius: 10px;
}


.britain-photo {
    width: 26px;
    height: 20px;
}