@font-face {
    font-family:'BPGLEStudio02';src:url(fonts/BPGLEStudio02.eot);
    src:url(fonts/BPGLEStudio02.eot?#iefix) format('embedded-opentype'),
    url(fonts/BPGLEStudio02.woff2) format('woff2'),
    url(fonts/BPGLEStudio02.woff) format('woff'),
    url(fonts/BPGLEStudio02.ttf) format('truetype'),
    url(fonts/BPGLEStudio02.svg) format('svg')
}

@font-face {
    font-family:'ALKRoundedMtav-Medium';src:url(fonts/ALKRoundedMtav-Medium.eot);
    src:url(fonts/ALKRoundedMtav-Medium.eot?#iefix) format('embedded-opentype'),
    url(fonts/ALKRoundedMtav-Medium.woff2) format('woff2'),
    url(fonts/ALKRoundedMtav-Medium.woff) format('woff'),
    url(fonts/ALKRoundedMtav-Medium.ttf) format('truetype'),
    url(fonts/ALKRoundedMtav-Medium.svg) format('svg')
}

@font-face {
    font-family:'LGVtavdrigina';src:url(fonts/LGVtavdrigina.eot);
    src:url(fonts/LGVtavdrigina.eot?#iefix) format('embedded-opentype'),
    url(fonts/LGVtavdrigina.woff2) format('woff2'),
    url(fonts/LGVtavdrigina.woff) format('woff'),
    url(fonts/LGVtavdrigina.ttf) format('truetype'),
    url(fonts/LGVtavdrigina.svg) format('svg')
}

* {
    box-sizing: border-box;
    line-height: 20px;
    margin: 0;
    padding: 0;
}

a {
    transition: all 0.3s ease;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'BPGLEStudio02', sans-serif;
}

.mainContainer {
    width: 1480px;
    margin-left: auto;
    margin-right: auto;
}


.swiper {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    background-position: center;
    background-size: cover;
}
.swiper-slide img {
    display: block;
    width: 100%;
}

.firstSection {
    position: relative;
    height: calc(100vh - 110px);
}

.slider {
    position: absolute;
    /* width: 100%; */
    height: calc(100vh - 110px);
}

.mainContainer--header {
    position: relative;
    z-index: 10;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 70px;
}

.Logo {
    width: 238px;
    height: 28px;
}

.menu {
    display: flex;
    padding-inline-start: 0;
}

.menu-item {
    margin-left: 110px;
    list-style: none;
}

.menu-item:first-child {
    margin-left: 0;
}

.menu-item-link {
    font-family: 'ALKRoundedMtav-Medium', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF;
    text-decoration: none;
    opacity: 0.6;
}
.menu-item-link:hover, .menu-item-link--active {
    opacity: 1;
}

.lang-switch {
    display: flex;
    align-items: center;
    padding: 7px 16px;
    color: #F8F9FA;
    font-size: 14px;
    background-color: rgba(255, 255, 255, 0.23);
    border-radius: 6px;
    text-decoration: none;
}

.lang-switch-img {
    width: 26px;
    height: 20px;
    object-fit: cover;
    margin-right: 11px;
}

.about-us-section {
    margin-top: 260px;
}

.about-us-title {
    font-family: 'ALKRoundedMtav-Medium', sans-serif;
    font-weight: 500;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #000000;
    text-align: right;
    margin-bottom: 65px;
}


.about-us-background {
    position: relative;
    background-size: cover;
    background-position: center;
    padding-top: 110px;
    padding-bottom: 110px;
    min-height: 685px;
}

.about-us-paragraph {
    font-weight: 300;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0%;
    color: rgba(255, 255, 255, 1);
    text-align: right;
    margin-top: 0;
    margin-left: auto;
    width: 70%;
}
.about-us-paragraph p {
    line-height: 30px;
}

.footer {
    background-color: rgba(0, 0, 0, 1);
}

.footer-top {
    display: flex;
    padding-top: 130px;
}

.footer-img {
    width: 320px;
    height: 110px;
    margin-right: 190px;
}

.footer-top-services {
    margin-right: 72px;
}


.footer-top-services-title {
    font-size: 13px;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: 0%;
    color: rgba(255, 255, 255, 0.65);
}

.footer-menu {
    margin-top: 13px;
}


.footer-menu-item {
    list-style: none;
    margin-bottom: 10px;
}


.footer-menu-item-link {
    font-size: 18px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0%;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}

.footer-top-company-title {
    font-size: 13px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0%;
    color: rgba(255, 255, 255, 0.65);
}

.company-menu {
    padding-top: 10px;
}

.company-menu-item {
    list-style: none;
    margin-bottom: 10px;
}

.company-menu-item-link {
    font-weight: 200;
    font-size: 19px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}

.footer-bottom {
    border-top: 1px solid rgb(55, 54, 54);
    margin-top: 65px;
    min-height: 75px;
    padding-bottom: 35px;
}

.footer-icons {
    margin-top: 28px;
    text-align: right;
    padding-right: 75px;
}


.footer-icons-icon {
    color: rgba(255, 255, 255, 0.65);
    margin-right: 16px;
    font-size: 20px;
    text-decoration: none;
}