@font-face {
    font-family: 'BPGLEStudio02';
    src: url(fonts/BPGLEStudio02.eot);
    src: url(fonts/BPGLEStudio02.eot?#iefix) format('embedded-opentype'),
        url(fonts/BPGLEStudio02.woff2) format('woff2'),
        url(fonts/BPGLEStudio02.woff) format('woff'),
        url(fonts/BPGLEStudio02.ttf) format('truetype'),
        url(fonts/BPGLEStudio02.svg) format('svg')
}

@font-face {
    font-family: 'ALKRoundedMtav-Medium';
    src: url(fonts/ALKRoundedMtav-Medium.eot);
    src: url(fonts/ALKRoundedMtav-Medium.eot?#iefix) format('embedded-opentype'),
        url(fonts/ALKRoundedMtav-Medium.woff2) format('woff2'),
        url(fonts/ALKRoundedMtav-Medium.woff) format('woff'),
        url(fonts/ALKRoundedMtav-Medium.ttf) format('truetype'),
        url(fonts/ALKRoundedMtav-Medium.svg) format('svg')
}

@font-face {
    font-family: 'LGVtavdrigina';
    src: url(fonts/LGVtavdrigina.eot);
    src: url(fonts/LGVtavdrigina.eot?#iefix) format('embedded-opentype'),
        url(fonts/LGVtavdrigina.woff2) format('woff2'),
        url(fonts/LGVtavdrigina.woff) format('woff'),
        url(fonts/LGVtavdrigina.ttf) format('truetype'),
        url(fonts/LGVtavdrigina.svg) format('svg')
}

* {
    box-sizing: border-box;
    line-height: 20px;
    margin: 0;
    padding: 0;
}

a {
    transition: all 0.3s ease;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'BPGLEStudio02', sans-serif;
}

.mainContainer {
    width: 1480px;
    margin-left: auto;
    margin-right: auto;
}


.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
}

.swiper-slide img {
    display: block;
    width: 100%;
}

.firstSection {
    position: relative;
    height: calc(100vh - 110px);
}

.slider {
    position: absolute;
    /* width: 100%; */
    height: calc(100vh - 110px);
}

.mainContainer--header {
    position: relative;
    z-index: 10;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 70px;
}

.Logo {
    width: 238px;
    height: 28px;
}

.menu {
    display: flex;
    padding-inline-start: 0;
}

.menu-item {
    margin-left: 110px;
    list-style: none;
}

.menu-item:first-child {
    margin-left: 0;
}

.menu-item-link {
    font-family: 'ALKRoundedMtav-Medium', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF;
    text-decoration: none;
    opacity: 0.6;
}

.menu-item-link:hover,
.menu-item-link--active {
    opacity: 1;
}

.lang-switch {
    display: flex;
    align-items: center;
    padding: 7px 16px;
    color: #F8F9FA;
    font-size: 14px;
    background-color: rgba(255, 255, 255, 0.23);
    border-radius: 6px;
    text-decoration: none;
}

.lang-switch-img {
    width: 26px;
    height: 20px;
    object-fit: cover;
    margin-right: 11px;
}


.offers-title {
    font-family: 'ALKRoundedMtav-Medium', sans-serif;
    font-weight: 500;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-top: 110px;

}

.offers-list {
    display: flex;
    justify-content: space-between;
    margin-top: 65px;
}

.offers-list-left,
.offers-list-right {
    width: calc(50% - 12.5px);
}

.offets-list-item-img {
    object-fit: cover;
    border-radius: 15px;
}

.offers-list p {
    line-height: 28px !important;
}

.offers-list h2 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.offers-list-left-item,
.offers-list-left-item2,
.offers-list-left-item3,
.offers-list-right-item,
.offers-list-right-item2,
.offers-list-right-item3 {
    border-radius: 15px;
}

.offers-list-left-item p,
.offers-list-left-item2 p,
.offers-list-left-item3 p,
.offers-list-right-item p,
.offers-list-right-item2 p,
.offers-list-right-item3 p {
    overflow: hidden;
}

.offers-list-left-item h2 {
    font-family: 'ALKRoundedMtav-Medium', sans-serif;
    font-weight: 500;
    font-size: 31px;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(255, 255, 255, 1);
    padding-top: 50px;
    padding-left: 40px;
    padding-right: 40px;
}

.offers-list-left-item p {
    font-weight: 300;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0%;
    color: rgba(255, 255, 255, 1);
    margin-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    height: 168px;
}


.offers-list-left-item2 h2 {
    text-align: right;
    font-family: 'ALKRoundedMtav-Medium', sans-serif;
    font-weight: 500;
    font-size: 31px;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(255, 255, 255, 1);
    margin-top: 25px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 25px;
}


.offers-list-left-item2 {
    padding-bottom: 30px;
}
.offers-list-left-item2 p {
    font-weight: 300;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(255, 255, 255, 1);
    text-align: right;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
    height: 112px;
}

.offers-list-left-item3 {
    margin-top: 25px;
}


.offers-list-left-item3 h2 {
    font-family: 'ALKRoundedMtav-Medium', sans-serif;
    padding-top: 70px;
    font-weight: 500;
    font-size: 31px;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(255, 255, 255, 1);
    margin-left: 40px;
    margin-right: 40px;
}


.offers-list-left-item3 p {
    color: rgba(255, 255, 255, 1);
    font-weight: 300;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
    height: 112px;
}

.offers-list-right-item {
    padding-bottom: 110px;
}

.offers-list-right-item h2 {
    font-family: 'ALKRoundedMtav-Medium', sans-serif;
    font-weight: 500;
    font-size: 31px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-top: 80px;
    color: rgba(255, 255, 255, 1);
    margin-left: 40px;
    margin-right: 40px;
}

.offers-list-right-item p {
    font-weight: 300;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(255, 255, 255, 1);
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
    height: 112px;
}


.offers-list-right-item2 {
    padding-bottom: 70px;
}
.offers-list-right-item2 h2 {
    font-family: 'ALKRoundedMtav-Medium', sans-serif;
    font-weight: 500;
    font-size: 31px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: right;
    color: rgba(255, 255, 255, 1);
    margin-top: 80px;
    margin-left: 40px;
    margin-right: 40px;
}

.offers-list-right-item2 p {
    font-weight: 300;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: right;
    color: rgba(255, 255, 255, 1);
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
    height: 84px;
}

.offers-list-right-item3 {
    padding-bottom: 60px;
}
.offers-list-right-item3 h2 {
    font-family: 'ALKRoundedMtav-Medium', sans-serif;
    font-weight: 500;
    font-size: 31px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 50px;
    color: rgba(255, 255, 255, 1);
}

.offers-list-right-item3 p {
    font-weight: 300;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(255, 255, 255, 1);
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
    height: 84px;
}


.about-us-section {
    margin-top: 260px;
}

.about-us-title {
    font-family: 'ALKRoundedMtav-Medium', sans-serif;
    font-weight: 500;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #000000;
    text-align: right;
    margin-bottom: 65px;
}


.about-us-background {
    position: relative;
    background-size: cover;
    background-position: center;
    padding-top: 110px;
    padding-bottom: 110px;
    min-height: 685px;
}

.about-us-paragraph {
    font-weight: 300;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0%;
    color: rgba(255, 255, 255, 1);
    text-align: right;
    margin-top: 0;
    margin-left: auto;
    width: 70%;
}

.about-us-paragraph p {
    line-height: 30px;
}

.footer {
    background-color: rgba(0, 0, 0, 1);
}

.footer-top {
    display: flex;
    padding-top: 130px;
}

.footer-img {
    width: 320px;
    height: 110px;
    margin-right: 190px;
}

.footer-top-services {
    margin-right: 72px;
}


.footer-top-services-title {
    font-size: 13px;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: 0%;
    color: rgba(255, 255, 255, 0.65);
}

.footer-menu {
    margin-top: 13px;
}


.footer-menu-item {
    list-style: none;
}

.footer-menu-item:not(:first-child) {
    margin-top: 10px;
}


.footer-menu-item-link {
    font-size: 18px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0%;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}

.footer-menu-item-link:hover {
    opacity: 0.8;
}

.footer-top-company-title {
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0%;
    color: rgba(255, 255, 255, 0.65);
}

.footer-bottom {
    border-top: 1px solid rgb(55, 54, 54);
    margin-top: 65px;
    min-height: 75px;
    padding-bottom: 35px;
}

.footer-icons {
    margin-top: 28px;
    text-align: right;
    padding-right: 75px;
}


.footer-icons-item {
    color: rgba(255, 255, 255, 0.65);
    font-size: 20px;
    text-decoration: none;
}

.footer-icons-item:hover {
    opacity: 0.8;
}

.footer-icons-item:not(:first-child) {
    margin-left: 16px;
}


.contact-us-section {
    background-color: rgba(136, 136, 136, 1);
}

.contact-us-main {
    display: flex;
    justify-content: space-between;
    padding-top: 70px;
    padding-bottom: 65px;
}


.contact-us-info {
    width: 30%;

}

.contact-us-main-img {
    margin-top: 10px;
    width: 55%;
    object-fit: contain;
}


.contact-us-info-title {
    font-family: 'ALKRoundedMtav-Medium', sans-serif;
    font-weight: 500;
    font-size: 60px;
    line-height: 60px;
    letter-spacing: -2px;
    color: rgba(255, 255, 255, 1);

}

.contact-us-info-paragraph {
    font-weight: 300;
    font-size: 30px;
    line-height: 31.2px;
    letter-spacing: 0%;
    color: rgba(255, 255, 255, 1);
    margin-top: 30px;

}

.contact-us-info-item {
    display: flex;
    align-items: center;
    margin-top: 33px;
}

.contact-us-info-item+.contact-us-info-item {
    margin-top: 20px;
}

.contact-us-info-item-img {
    margin-right: 8px;
}

.contact-us-info-item-link {
    font-weight: 600;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}

.contact-us-info-item-link:hover {
    text-decoration: underline;
}